@use '../abstracts/variables' as var;

app-bar {
  .navbar-wrapper {
    position: sticky;
    top: 0;
    background-color: var.$color-level-3;

    &.container {
      padding: 12px 24px;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-brand {
        font-size: 32px;
        font-weight: bold;

        color: var.$font-color-level-4;
      }

      .hamburgerButton {
        width: 50px;
        height: 50px;

        font-size: 24px;
        background-color: transparent;
        color: var.$font-color-level-4;

        border-radius: 10px;
        border: 3px solid var.$color-level-1;

        transition: 0.2s ease-in-out;

        &:hover {
          background-color: var.$color-level-4;
          border: 3px solid var.$color-level-1;
        }
      }

      .nav-items {
        position: fixed;
        inset-block-start: 4rem;
        inset-inline: 0;

        margin: 10px 0;
        padding: 32px;
        background-color: var.$color-level-3;
        text-align: center;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        transition: 0.3s ease-in-out;
        transform: translateX(550%);
        opacity: 1;

        &.active {
          transform: translateX(0);
        }

        .nav-item {
          &.active {
            width: 35%;

            margin: 0 auto;
            padding: 10px;
            border-radius: 10px;

            background-color: var.$color-level-4;
            font-weight: bold;

            & a {
              color: var.$font-color-level-4;
            }
          }

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
