@use '../abstracts/variables' as var;
@use 'sass:map';

app-bar {
  .navbar-wrapper {
    position: fixed;
    top: 0;

    width: 100%;

    background-color: var.$color-level-3;

    z-index: 998;

    &.container {
      padding: 12px 24px;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-brand {
        font-size: 32px;
        font-weight: bold;
        padding: 10px;

        color: var.$font-color-level-4;
      }

      .hamburgerButton {
        width: 50px;
        height: 50px;

        font-size: 24px;
        background-color: transparent;
        color: var.$font-color-level-4;

        border-radius: 10px;
        border: 3px solid var.$color-level-1;

        transition: 0.2s ease-in-out;

        &:hover {
          background-color: var.$color-level-4;
          border: 3px solid var.$color-level-1;
        }
      }

      .nav-items {
        position: fixed;
        inset-block-start: 4rem;
        inset-inline: 0;

        margin: 10px 0;
        padding: 32px;
        background-color: var.$color-level-3;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        transition: 0.3s ease-in-out;
        transform: translateX(550%);

        &.active {
          transform: translateX(0);

          .nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .nav-item {
          position: relative;
          display: none;
          margin: 0 auto;
          min-width: 44px;
          min-height: 44px;

          & a {
            color: var.$font-color-level-4;
            padding: 14px;
          }

          &.active {
            border-radius: 10px;

            background-color: var.$color-level-4;
            font-weight: bold;
          }

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}

// MD: minimum viewport width: 768px
@media screen and (min-width: map.get(var.$breakpoints, 'md')) {
  app-bar {
    .navbar-wrapper {
      &.container {
        padding: 14px 24px;
      }

      .navbar {
        .hamburgerButton {
          display: none;
        }

        .nav-items {
          width: 45%;

          position: relative;

          margin: 0;
          padding: 0;

          inset-block-start: 0;

          transform: translateX(0);

          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          .nav-item {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

// XL: minimum viewport width: 1200px
@media screen and (min-width: map.get(var.$breakpoints, 'xl')) {
  app-bar {
    .navbar-wrapper {
      .navbar {
        max-width: 1200px;
        margin: auto;

        .nav-items {
          width: 30%;
        }
      }
    }
  }
}
