$primary-fonts: 'Nunito', sans-serif;

$color-level-1: #f3eeea;
$color-level-2: #ebe3d5;
$color-level-3: #b0a695;
$color-level-4: #776b5d;
$color-level-5: #f0ece5;

$font-color-level-1: #161a30;
$font-color-level-2: #31304d;
$font-color-level-3: #b6bbc4;
$font-color-level-4: #f0ece5;
