@use '../abstracts/variables' as var;
@use 'sass:map';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var.$primary-fonts;
  color: var.$font-color-level-1;
}

a {
  text-decoration: none;
  color: var.$font-color-level-1;
}

.container {
  max-width: 100%;
  padding: 0 24px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: var.$color-level-2;
  color: var.$font-color-level-1;
  z-index: 100;

  &:focus {
    top: 0;
  }
}
