@use '../abstracts/variables' as var;
@use 'sass:map';

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var.$primary-fonts;
  color: var.$font-color-level-1;
}

a {
  text-decoration: none;
  color: var.$font-color-level-1;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: var.$color-level-2;
  color: var.$font-color-level-1;
  z-index: 999;

  &:focus {
    top: 0;
  }
}

// XS: minimum viewport width: 375px
@media screen and (min-width: map.get(var.$breakpoints, 'xs')) {
  .container {
    padding: 0 24px;
  }
}
